 :root {
    --primary: #A5C882;
    --secondary: #D33F49;
    --light: #fff;
    --dark: #000;
    --diabled: #e7e7e7;
}
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    height: 100vh;
    background-color: rgb(153, 214, 204);
}

*::first-letter {
    text-transform: capitalize;
}

.roundBorder {
    border-radius: 10px;
}

.list {
    margin: 25px auto;
    padding: 25px;
    background-color: rgb(124, 124, 124);
    width: 100%;
    max-width: 720px;
}
.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dateRight {
    display: flex;
    align-items: center;
}

#dateNumber {
    font-size: 50px;
    margin-left: 21px;
}

#dateText {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 30px;
    margin-right: 28px;
}

#dateMonth,
#dateNumber,
#dateText {
    font-weight: bold;
}

#dateMonth,
#dateYear {
    margin-left: 28px;
    font-size: 30px;
}

form {
    margin: 20px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 70px auto;
    widht: 70px;
    grid-column-gap: 15px;
}

input {
    border: none;
    padding-left: 10px;
    background-color: var(--diabled);
    widht: 70px;
}

input:focus {
    outline: none;
}
.addTaskButton,
.orderButton {
    border: none;
    font-weight: bold;
    cursor: pointer;
    widht: 70px;
}

.addTaskButton {
    height: 70px;
    widht: 70px;
    border-radius: 50%;
    font-size: 50px;
    background-color: var(--diabled);
}

.orderButton {
    background-color: var(--secondary);
    color: var(--light);
    widht: 70px;
}

.task {
    background-color: rgb(46, 46, 46);
    padding: 15px;
    margin-top: 15px;
    color: var(--light);
    cursor: pointer;
}
.done {
    background-color: var(--diabled);
    text-align: line-through;
    color: var(--dark);
}
h1 {
 font-size: 70px;
}
